{{ 'button-preview.css' | asset_url | stylesheet_tag }}

<div class="button-preview">
  <div class="button-preview-item">Primary Button</div>
  <div class="button-preview-item button-preview-secondary">Secondary Button</div>
  <div class="button-preview-item button-preview-pill">Pill Button</div>
</div> 