{{ 'color-scheme-preview.css' | asset_url | stylesheet_tag }}

<div class="color-scheme-preview">
  <div class="color-scheme-option color-scheme-1">
    <div class="scheme-title">Scheme 1</div>
    <div class="scheme-button">Button</div>
  </div>
  
  <div class="color-scheme-option color-scheme-2">
    <div class="scheme-title">Scheme 2</div>
    <div class="scheme-button">Button</div>
  </div>
  
  <div class="color-scheme-option color-scheme-3">
    <div class="scheme-title">Scheme 3</div>
    <div class="scheme-button">Button</div>
  </div>
  
  <div class="color-scheme-option color-scheme-4">
    <div class="scheme-title">Scheme 4</div>
    <div class="scheme-button">Button</div>
  </div>
  
  <div class="color-scheme-option color-scheme-5">
    <div class="scheme-title">Scheme 5</div>
    <div class="scheme-button">Button</div>
  </div>
</div>

<style>
  :root {
    /* Scheme 1 */
    --scheme-1-background: 255, 255, 255;
    --scheme-1-text: 18, 18, 18;
    --scheme-1-button: 18, 18, 18;
    --scheme-1-button-label: 255, 255, 255;
    
    /* Scheme 2 */
    --scheme-2-background: 243, 243, 243;
    --scheme-2-text: 18, 18, 18;
    --scheme-2-button: 18, 18, 18;
    --scheme-2-button-label: 255, 255, 255;
    
    /* Scheme 3 */
    --scheme-3-background: 18, 18, 18;
    --scheme-3-text: 255, 255, 255;
    --scheme-3-button: 255, 255, 255;
    --scheme-3-button-label: 18, 18, 18;
    
    /* Scheme 4 */
    --scheme-4-background: 49, 54, 82;
    --scheme-4-text: 255, 255, 255;
    --scheme-4-button: 255, 255, 255;
    --scheme-4-button-label: 49, 54, 82;
    
    /* Scheme 5 */
    --scheme-5-background: 255, 66, 66;
    --scheme-5-text: 255, 255, 255;
    --scheme-5-button: 255, 255, 255;
    --scheme-5-button-label: 255, 66, 66;
  }
</style> 